<html lang="en">
<head>
    <title>Download Generated Codes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<a class="text-white" href="../Storage/generateCodes.txt" download>
    <button class="btn btn-success"> Download Promotional Codes</button>
</a>
<a href="../index.php">
    <button class="btn btn-secondary">
        Back to generator
    </button>
</a>
</body>
</html>